/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

/* BODY */

body {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

/* HEADER */

header {
    background-color: #ffcc00;
    padding: 10px 20px;
}

.logo {
    width: 150px;
}

.navbar {
    background-color: #ffcc00 !important;
}

nav ul li {
    display: inline;
    list-style: none;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: black;
}

/* MAIN */

main {
    margin: 20px;
    padding: 20px;
}

h1 {
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    background-color: wheat;
}

h2 {
    margin: 15px;
}

h3 {
    margin: 10px;
}

/* FOOTER y ASIDE*/

footer, aside {
    margin: 20px;
    padding: 20px;
    border-top: 1px solid black;
}

footer {
    background-color: wheat;
    text-align: center;
    font-size: x-large;
}

/* PRODUCTOS & JUEGO*/

.contenedor-carcassone {
    display: flex;
    flex-flow: row wrap;
    flex: 200px;
}

article {
    text-align: justify;
}
.contenedor-video {
    margin: 20px;
    display: flex;
    text-align: center;
}

/* HISTORIA */

iframe {
    display: inline-block;
    margin: auto;
}

/* CONTACTO */

form {
    margin-top: 20px;
}

label {
    display: block;
    margin: 5px;
}

input, textarea {
    display: block;
    width: 20%;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

textarea {
    width: 40%;
}

.boton-form {
    display: inline;
    background-color: #cccc;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
}

/* MEDIA QUERIES */


@media (max-width:768px) {
    ul li {
        margin: auto;
        padding: 0;
    }
    
}