/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    display:flex
}

.logo {
    width: 150px;
}

nav ul li {
    list-style: none;
    justify-content: flex-end;
    flex-direction: row;
    display: inline-block;
}

#navigation-bar {
    justify-content: flex-end;
    background-color: #ffcc00;
    height: 150px;
}

#contenedor-nav {
    background-color: #ffcc00;
}